@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: rgb(27, 34, 61);
    font-family:'Roboto','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0 0;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, label, span, input, table, button, li {
    color: rgb(255, 255, 255);
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
}
.container {
    display: flex;
    flex-direction: column;
    width: min(800px, 100%);
    height: 100vh;
    margin: 0 auto;
}

.header-banner {
    width: min(800px, 100%);                  /* Make sure the banner spans the full width */
    height: auto;                 /* Maintain aspect ratio for the banner */
    display: block;  
    border-radius: 8px;             /* Ensure the banner is on its own line */
}

.header-img {
    width: 50px;                 /* Example size for the circle image */
    height: auto;                 /* Maintain aspect ratio */            /* Add space between the banner and the circle image */
}

h1 {
    font-size: 1rem;
}

article {
    margin: 1rem 2rem;
    flex-grow: 1;
}

.footer-img {
    height: 3rem;
    margin-bottom: 0.5rem;
}
footer {
    flex-grow: 0;
    padding: 1rem 2rem;
}
footer > p {
    margin: 0 0;
    font-size: 0.8rem;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    background-color: #00000000;
    font-size: 1rem;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="number"]:focus {
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 8px rgba(76, 175, 80, 0.1);
}


.close-form {
    display: flex;
    justify-content: left;
    color: #fff; 
    align-items: center;
    margin-top: 1rem;
}

.heading {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    padding-top: 20px;
}

.content {
    margin-top: 2rem;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
}

a {
    color:rgb(200, 246, 220);
}

article p {
    text-align: justify;
    line-height: 1.5;
}

article li {
    line-height: 1.5;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    html {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    /* For desktop: */
    html {
        font-size: 24px;
    }
}